---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import ProfComp from "../components/ProfComp.astro";

---
<Layout title="Energyville">
  <div class="flex ">
    <Sidebar/>
    <div class="w-full flex flex-col mt-20">
      <ProfComp title="Company" img="https://res.cloudinary.com/dmcofgm8p/image/upload/v1668986188/gadgeon/energyville/Profile_ub7imq.png"/>
    </div>
  </div>
</Layout>
