---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import Heading from "../components/Heading.astro";
import SetDeals from "../components/SetDeals.astro";
---

<Layout title="Energyville">
  <div class="flex">
    <Sidebar/>
    <div class="h-full w-full flex flex-col mt-20">
      <SetDeals 
      title="Project Overview"/>
    </div>
  </div>
</Layout>


