---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import SetDoc from "../components/SetDoc.astro";

---

<Layout title="Energyville">
  <div class="flex">
    <Sidebar/>
    <div class="w-full flex flex-col ">
      <SetDoc title="Photos" img="https://res.cloudinary.com/dmcofgm8p/image/upload/v1669076625/gadgeon/energyville/Cameras_dtdfkg.png"/>
      <SetDoc title="Logos" img="https://res.cloudinary.com/dmcofgm8p/image/upload/v1669076625/gadgeon/energyville/Cameras_dtdfkg.png"/>
      <SetDoc title="Presentations" img="https://res.cloudinary.com/dmcofgm8p/image/upload/v1669076698/gadgeon/energyville/Marketing_yjqmay.png"/>
      <SetDoc title="Documents" img="https://res.cloudinary.com/dmcofgm8p/image/upload/v1669076738/gadgeon/energyville/Document_umilkd.png"/>
    </div>
  </div>
</Layout>

