---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Energyville">
  <!-- FIRST SECTION -->
  <section class="h-1/5 py-20 m-auto grid grid-cols-3">
    <div class="w-full relative">
      <div class="w-full border-b-[6px] border-black absolute top-[126px]">
      </div>
    </div>
    <div class="h-1/2 p-0">
      <img
        src="https://res.cloudinary.com/dmcofgm8p/image/upload/v1668880706/gadgeon/energyville/logo_energyville_1_trnknd.jpg"
        alt="logo"
        class="max-h-[300px]"
      />
    </div>
    <div class="w-full relative">
      <div class="w-full border-b-[6px] border-black absolute top-[126px]">
      </div>
    </div>
  </section>
  <!-- SECOND SECTION -->
  <div class=" w-full flex gap-8 mb-[200px]">
    <div
      class="w-3/5 py-20 pr-20 flex flex-col gap-12 bg-[#8DC63F] relative"
    >
      <h1 class="pl-20 text-[50px]
      font-semibold">Let us grow together!</h1>
      <div class="w-full flex justify-between items-center">
        <img
          src="https://res.cloudinary.com/dmcofgm8p/image/upload/v1669289205/gadgeon/energyville/illustration__Growth__qqcs0v_drwcsb.png"
          alt="plant growing"
          class="h-[350px]  lg:h-[300px] md:h-[100px]"
        />

        <p class="w-3/5 text-[34px]
        font-light leading-[50px] text-white px-10">
          EnergyVille’s Partner Connect is a network of partners that are
          delivering service and technologies in relation with the
          electrification of our society.
        </p>
      </div>
    </div>
    <div
      class="w-2/5 justify-center gap-10 flex flex-col bg-[#07693A] border-t-black border-t-[6px]"
    >
      <div class="ml-40">
        <Button href="main.html" title="Sign up" />
      </div>
      <div class="ml-40">
        <Button href="main.html" title="Sign in" />
      </div>
    </div>
  </div>
  <!-- THIRD SECTION -->
  <div class=" mt-40 mb-[200px] w-full flex gap-8">
    <div
      class="w-1/5  py-10 pl-40 pr-20 flex flex-col gap-10 bg-[#07693A] border-t-black border-t-[6px] relative"
    >
    </div>
    
    <div class="w-4/5 flex items-center px-20 bg-[#8DC63F]">
      <p class="w-2/3 text-[34px]
      font-light leading-[50px] text-white my-20 px-20">
        Together there is an tremendous opportunity in front of us. Buildings ,
        Grids, Vehicles and People need to change the way they handle energy.
      </p>
      <img
        src="https://res.cloudinary.com/dmcofgm8p/image/upload/v1668887297/gadgeon/energyville/Vector_2_onsvad.png"
        alt="plant growing"
        class="w-[380px] h-[380px] ml-20"
      />
    </div>
  </div>
  <Footer />
</Layout>
