---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import SetTrain from "../components/SetTrain.astro";
import SetEvents from "../components/SetEvents.astro";

const name = "*partner name*";
---

<Layout title="Energyville">
  <div class="flex">
    <Sidebar/>
    <div class="w-full flex flex-col ">
      <div class="text-left p-8 px-40">
        <h1 class="text-6xl font-medium">Welcome back <span class="italic font-light">{ name }</span></h1>
      </div>
      <SetEvents title="Upcoming events" img="https://res.cloudinary.com/dmcofgm8p/image/upload/v1668952448/gadgeon/energyville/Group_1_azi9sx.png"/>
      <SetTrain title="Upcoming trainings" img="https://res.cloudinary.com/dmcofgm8p/image/upload/v1668956339/gadgeon/energyville/Recurso_5_1_1_qy1des.png"/>
    </div>
  </div>
</Layout>

<style>
  
  p {
    font-size: 40px;
    font-weight: 200;
    color: white;
    line-height: 50px;
  }
</style>
