---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import Set from "../components/Set.astro";

const name = "*partner name*";
---

<Layout title="Energyville">
  <div class="flex border-2 border-yellow-300">
    <Sidebar/>
    <div class="w-full flex flex-col border-2 border-green-600">
      <div class="text-center">
        <h1 class="">Welcome back</h1>
        <h1 class="italic">{ name }</h1>
      </div>
      <Set title="Upcoming events" img="https://res.cloudinary.com/dmcofgm8p/image/upload/v1668952448/gadgeon/energyville/Group_1_azi9sx.png"/>
      <Set title="Upcoming trainings" img="https://res.cloudinary.com/dmcofgm8p/image/upload/v1668956339/gadgeon/energyville/Recurso_5_1_1_qy1des.png"/>
    </div>
  </div>
</Layout>

<style>
  h1 {
    font-size: 60px;
    font-weight: 600;
  }
  p {
    font-size: 40px;
    font-weight: 200;
    color: white;
    line-height: 50px;
  }
</style>
