---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import Heading from "../components/Heading.astro";
import FormDeal from "../components/FormDeal.astro";
---

<Layout title="Energyville">
  <div class="flex">
    <Sidebar />
    <div class="flex flex-col w-full">
      <div class="flex flex-col mb-40 pt-4">
        <div class="pl-40 pr-20 mt-10">
          <div class="flex w-full gap-10 relative">
            <div class="h-full w-4/5 flex flex-col gap-12 mt-4">
              <div class="flex justify-between items-center">
                <Heading title="Register new Deal" />
                <h1 class="text-5xl font-medium">Deals</h1>
              </div>
              <FormDeal
                dealid="45454"
                status="Active"
                partnerid="545451"
                date="24/12/23"
                name="John Doe"
                endcustomer="name"
                size="10000 €"
                location="Amsterdam"
                contact="John Doe"
                service="Solar panels"
                type="Peakshaving"
                closedate="24/12/24"
                description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl vitae ultricies lacinia, nisl nisl aliquam lorem, eget aliquam nisl nisl eu lectus. Sed euismod, nisl vitae ultricies lacinia, nisl nisl aliquam lorem, eget aliquam nisl nisl eu lectus."
                planning="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl vitae ultricies lacinia, nisl nisl aliquam lorem, eget aliquam nisl nisl eu lectus. Sed euismod, nisl vitae ultricies lacinia, nisl nisl aliquam lorem, eget aliquam nisl nisl eu lectus."
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
