---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import ProfStat from "../components/ProfStat.astro";

const name = "*partner name*";
---

<Layout title="Energyville">
  <div class="flex">
    <Sidebar/>
    <div class="w-full flex flex-col mt-20 ">
      <ProfStat title="Status" img="https://res.cloudinary.com/dmcofgm8p/image/upload/v1668986188/gadgeon/energyville/Profile_ub7imq.png"/>
    </div>
  </div>
</Layout>

