---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import SetUsers from "../components/SetUsers.astro";

const name = "*partner name*";
---

<Layout title="Energyville">
  <div class="h-full flex">
    <Sidebar/>
    <div class="h-full w-full flex flex-col mt-20">
      <SetUsers title="Users" img="https://res.cloudinary.com/dmcofgm8p/image/upload/v1668994639/gadgeon/energyville/icon__person_outline__ltitup.png"/>
    </div>
  </div>
</Layout>

<style>
  
  p {
    font-size: 40px;
    font-weight: 200;
    color: white;
    line-height: 50px;
  }
</style>
