---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import SetUsers from "../components/SetUsers.astro";

const name = "*partner name*";
---

<Layout title="Energyville">
  <div class="h-full flex">
    <Sidebar/>
    <div class="h-full w-full flex flex-col mt-20">
      <SetUsers title="Users"/>
    </div>
  </div>
</Layout>