---
export interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<div class="text-4xl font-medium bg-[#E0FFBD] hover:bg-[#8DC63F] hover:text-5xl focus:ring-4 focus:outline-none focus:ring-black dark:focus:ring-white shadow-xl shadow-lime-500/40 dark:shadow-lg dark:shadow-lime-800/80  rounded-l-3xl px-10 py-4 text-left mr-2 mb-2 duration-300 ease-in-out">
  <a href={ href }>{ title }</a
  >
</div>
