---
export interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<div class="text-2xl font-medium py-2 px-8 bg-[#E0FFBD] hover:bg-[#8DC63F] hover:text-3xl focus:ring-4 focus:outline-none focus:ring-black dark:focus:ring-white shadow-xl shadow-lime-500/40 dark:shadow-lg dark:shadow-lime-800/80  rounded-2xl   duration-300 ease-in-out">
  <a href={ href }>{ title }</a
  >
</div>
