
<div
  class="h-full flex flex-col justify-between bg-[rgb(224,255,189)] shadow-2xl p-10"
>
  <div class="grid grid-cols-5 text-center border-b-[6px] border-black py-4">
    <h2 class="text-xl font-bold">Name</h2>
    <h2 class="text-xl font-bold">Country</h2>
    <h2 class="text-xl font-bold">Type</h2>
    <h2 class="text-xl font-bold">Domain</h2>
    <h2 class="text-xl font-bold">Connect</h2>
  </div>
  <div class="grid grid-cols-5 grid-flow-row text-center py-4 gap-4">
    
    <h2 class="text-xl font-medium">Name</h2>
    <h2 class="text-xl font-medium">Country</h2>
    <h2 class="text-xl font-medium">Type</h2>
    <h2 class="text-xl font-medium">Domain</h2>
    <div class="flex justify-center">
      <img src="https://res.cloudinary.com/dmcofgm8p/image/upload/v1669073342/gadgeon/energyville/icon__people__hlzsny.png" alt="connect icon" class="h-10">
    </div>
 
    <h2 class="text-xl font-medium">Name</h2>
    <h2 class="text-xl font-medium">Country</h2>
    <h2 class="text-xl font-medium">Type</h2>
    <h2 class="text-xl font-medium">Domain</h2>
    <div class="flex justify-center">
      <img src="https://res.cloudinary.com/dmcofgm8p/image/upload/v1669073342/gadgeon/energyville/icon__people__hlzsny.png" alt="connect icon" class="h-10">
    </div>
    <h2 class="text-xl font-medium">Name</h2>
    <h2 class="text-xl font-medium">Country</h2>
    <h2 class="text-xl font-medium">Type</h2>
    <h2 class="text-xl font-medium">Domain</h2>
    <div class="flex justify-center">
      <img src="https://res.cloudinary.com/dmcofgm8p/image/upload/v1669073342/gadgeon/energyville/icon__people__hlzsny.png" alt="connect icon" class="h-10">
    </div>
    <h2 class="text-xl font-medium">Name</h2>
    <h2 class="text-xl font-medium">Country</h2>
    <h2 class="text-xl font-medium">Type</h2>
    <h2 class="text-xl font-medium">Domain</h2>
    <div class="flex justify-center">
      <img src="https://res.cloudinary.com/dmcofgm8p/image/upload/v1669073342/gadgeon/energyville/icon__people__hlzsny.png" alt="connect icon" class="h-10">
    </div>
    <h2 class="text-xl font-medium">Name</h2>
    <h2 class="text-xl font-medium">Country</h2>
    <h2 class="text-xl font-medium">Type</h2>
    <h2 class="text-xl font-medium">Domain</h2>
    <div class="flex justify-center">
      <img src="https://res.cloudinary.com/dmcofgm8p/image/upload/v1669073342/gadgeon/energyville/icon__people__hlzsny.png" alt="connect icon" class="h-10">
    </div>
    <h2 class="text-xl font-medium">Name</h2>
    <h2 class="text-xl font-medium">Country</h2>
    <h2 class="text-xl font-medium">Type</h2>
    <h2 class="text-xl font-medium">Domain</h2>
    <div class="flex justify-center">
      <img src="https://res.cloudinary.com/dmcofgm8p/image/upload/v1669073342/gadgeon/energyville/icon__people__hlzsny.png" alt="connect icon" class="h-10">
    </div>
    <h2 class="text-xl font-medium">Name</h2>
    <h2 class="text-xl font-medium">Country</h2>
    <h2 class="text-xl font-medium">Type</h2>
    <h2 class="text-xl font-medium">Domain</h2>
    <div class="flex justify-center">
      <img src="https://res.cloudinary.com/dmcofgm8p/image/upload/v1669073342/gadgeon/energyville/icon__people__hlzsny.png" alt="connect icon" class="h-10">
    </div>
     <h2 class="text-xl font-medium">Name</h2>
    <h2 class="text-xl font-medium">Country</h2>
    <h2 class="text-xl font-medium">Type</h2>
    <h2 class="text-xl font-medium">Domain</h2>
    <div class="flex justify-center">
      <img src="https://res.cloudinary.com/dmcofgm8p/image/upload/v1669073342/gadgeon/energyville/icon__people__hlzsny.png" alt="connect icon" class="h-10">
    </div>

    <h2 class="text-xl font-medium">Name</h2>
    <h2 class="text-xl font-medium">Country</h2>
    <h2 class="text-xl font-medium">Type</h2>
    <h2 class="text-xl font-medium">Domain</h2>
    <div class="flex justify-center">
      <img src="https://res.cloudinary.com/dmcofgm8p/image/upload/v1669073342/gadgeon/energyville/icon__people__hlzsny.png" alt="connect icon" class="h-10">
    </div>

    <h2 class="text-xl font-medium">Name</h2>
    <h2 class="text-xl font-medium">Country</h2>
    <h2 class="text-xl font-medium">Type</h2>
    <h2 class="text-xl font-medium">Domain</h2>
    <div class="flex justify-center">
      <img src="https://res.cloudinary.com/dmcofgm8p/image/upload/v1669073342/gadgeon/energyville/icon__people__hlzsny.png" alt="connect icon" class="h-10">
    </div>

    <h2 class="text-xl font-medium">Name</h2>
    <h2 class="text-xl font-medium">Country</h2>
    <h2 class="text-xl font-medium">Type</h2>
    <h2 class="text-xl font-medium">Domain</h2>
    <div class="flex justify-center">
      <img src="https://res.cloudinary.com/dmcofgm8p/image/upload/v1669073342/gadgeon/energyville/icon__people__hlzsny.png" alt="connect icon" class="h-10">
    </div>
    <h2 class="text-xl font-medium">Name</h2>
    <h2 class="text-xl font-medium">Country</h2>
    <h2 class="text-xl font-medium">Type</h2>
    <h2 class="text-xl font-medium">Domain</h2>
    <div class="flex justify-center">
      <img src="https://res.cloudinary.com/dmcofgm8p/image/upload/v1669073342/gadgeon/energyville/icon__people__hlzsny.png" alt="connect icon" class="h-10">
    </div>

    

  </div>
  
</div>
