---
export interface Props {
  status: string;
  contact: string;
  startdate: string;
  renewaldate: string;
}
const {
  status,
  contact,
  startdate,
  renewaldate
} = Astro.props;
---

<div
  class="flex flex-col justify-between pb-40 bg-[rgb(224,255,189)] shadow-2xl p-10 relative"
>
<!-- EDIT BUTTON -->
<button class="flex items-center absolute left-8 bottom-6">
  <img src="https://res.cloudinary.com/dmcofgm8p/image/upload/v1668988300/gadgeon/energyville/icon__edit__yz68wd.png" alt="edit">
  <p>Admin</p>
</button>
<!-- INFO -->
  <div class="flex flex-col gap-2">
    <h2 class="text-xl font-bold">Partner Status</h2>
    <div class="w-1/2 flex justify-between gap-4 items-center">
      <h4 class="text-lg font-light">{ status }</h4>
      <div class="w-1/2 py-1 px-2 flex items-center justify-end gap-4 bg-[rgb(138,198,68)] rounded-lg">
        <p>Download programme</p>
        <a href="#"><img src="https://res.cloudinary.com/dmcofgm8p/image/upload/v1668988967/gadgeon/energyville/icon__cloud_download__esc2gx.png" alt="download icon" class="h-8"></a>
      </div>
    </div>
    
  </div>
  <div class="flex flex-col gap-2">
    <h2 class="text-xl font-bold">Partner contact</h2>
    <div class="w-1/2 flex justify-between gap-4 items-center">
    <h4 class="text-lg font-light">{ contact }</h4>
    <div class="w-1/2 py-1 px-2 flex items-center justify-end gap-4 bg-[rgb(138,198,68)] rounded-lg">
      <p>Chat</p>
      <a href="#"><img src="https://res.cloudinary.com/dmcofgm8p/image/upload/v1668988990/gadgeon/energyville/icon__message_circle_outline__dcsgou.png" alt="chat icon" class="h-8"></a>
    </div>
  </div>
  </div>
  <div class="flex flex-col gap-2">
    <h2 class="text-xl font-bold">Start date</h2>
    <h4 class="text-lg font-light">{ startdate }</h4>
  </div>
  <div class="flex flex-col gap-2">
    <h2 class="text-xl font-bold">Renewal date</h2>
    <h4 class="text-lg font-light">{ renewaldate }</h4>
  </div>
  <div class="w-1/2 flex justify-between gap-4 items-center">
    <h2 class="text-xl font-bold">Latest Agreement</h2>
    <div class="w-1/2 py-1 px-2 flex items-center justify-end gap-4 bg-[rgb(138,198,68)] rounded-lg">
      <p>Download agreement</p>
      <a href="#"><img src="https://res.cloudinary.com/dmcofgm8p/image/upload/v1668988967/gadgeon/energyville/icon__cloud_download__esc2gx.png" alt="download icon" class="h-8"></a>
    </div>
  </div>
</div>
