---
export interface Props {
  status: string;
  contact: string;
  startdate: string;
  renewaldate: string;
}
const {
  status,
  contact,
  startdate,
  renewaldate
} = Astro.props;
---

<div
  class="flex flex-col justify-between bg-[rgb(224,255,189)] shadow-2xl p-10 relative"
>
<!-- EDIT BUTTON -->
<button class="absolute left-8 bottom-6">
  <img src="https://res.cloudinary.com/dmcofgm8p/image/upload/v1668988300/gadgeon/energyville/icon__edit__yz68wd.png" alt="edit">
  <p>Admin</p>
</button>
<!-- INFO -->
  <div class="flex flex-col gap-2">
    <h2 class="text-xl font-bold">Partner Status</h2>
    <h4 class="text-lg font-light">{ status }</h4>
  </div>
  <div class="flex flex-col gap-2">
    <h2 class="text-xl font-bold">Partner contact</h2>
    <h4 class="text-lg font-light">{ contact }</h4>
  </div>
  <div class="flex flex-col gap-2">
    <h2 class="text-xl font-bold">Start date</h2>
    <h4 class="text-lg font-light">{ startdate }</h4>
  </div>
  <div class="flex flex-col gap-2">
    <h2 class="text-xl font-bold">Renewal date</h2>
    <h4 class="text-lg font-light">{ renewaldate }</h4>
  </div>
  <div class="flex flex-col gap-2">
    <h2 class="text-xl font-bold">Latest Agreement</h2>
  </div>
</div>
