---
import Heading from "../components/Heading.astro";
import Event from "../components/Event.astro";

export interface Props {
  title: string;
  img: string;
}

const { title, img } = Astro.props;

---

<div class=" flex flex-col w-full">
	
	<div class="flex flex-col  mb-10">
	  <div class="pl-40 pr-20">
		<div class="flex w-full gap-10">
		  <div class="h-full w-3/5 flex flex-col gap-14 mt-4">
			<Heading title={ title } />
			<Event name="DC Symposium" date="24/12/23" text="Electricity networks have been widely equipped with alternating current technology at 50 or 60 Hz for over century. However, DC technology provides clear technical advantages in a world that will be dominated by energy storage systems, photovoltaic modules, digital equipment and energy efficient HVAC systems. Introducing DC technology will increase conversion efficiency and power transfer capability while at the same time reducing costs." img="https://picsum.photos/200"/>
			<Event name="Solar EMR Workshop" date="02/04/23" text="We kindly invite you to our EMR-solar-event on December 2nd in Eindhoven and will show you the nearby future of renewable energy in our region. Presented to you by leading universities, institutes and industries in Belgium, Germany and the Netherlands." img="https://picsum.photos/200"/>
		  </div>
		  <div class="w-2/5 pt-20 px-8 flex justify-center">
			<img src={ img } alt="set type" class=" h-[280px]" />
		  </div>
		</div>
	  </div>
	  
	</div>
  </div>