---
const username = "Partner";
---

<div class="flex flex-col w-80 ">
  <div class="flex items-center gap-4 px-4 py-6 bg-[#E0FFBD] relative">
    <img
      class="object-cover mx-2 rounded-full h-20 w-20"
      src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
      alt="avatar"
    />
    <h2 class="mx-2 text-3xl font-medium dark:text-gray-200 hover:underline">
      { username }
    </h2>
  </div>

  <div
    class="h-full w-full flex flex-col pr-10 py-8 bg-[#066839] dark:bg-[#066839] dark:border-gray-700"
  >
    <nav class="flex flex-col gap-8 mt-6">
      <!-- PROFILE -->
      <label for="touch" class="flex justify-end items-center px-4 py-2 text-white border-b-black border-b-[6px]  dark:bg-gray-800 dark:text-gray-200">
        <span class="mx-4 font-medium text-2xl">Profile</span>
        <svg
          class="w-6 h-6"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M12 14C8.13401 14 5 17.134 5 21H19C19 17.134 15.866 14 12 14Z"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </label>
      <input type="checkbox" id="touch" />
      <ul class="slide no-underline -mt-6">
        <li><a href="company.html">Company</a></li>
        <li><a href="status.html">Status</a></li>
        <li><a href="certifications.html">Certifications</a></li>
        <li><a href="users.html">Users</a></li>
      </ul>

      <!-- DEALS -->

      <label for="touch2" class="flex justify-end items-center px-4 py-2 text-white border-b-black border-b-[6px]  dark:bg-gray-800 dark:text-gray-200">
        <span class="mx-4 font-medium text-2xl">Deals</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#ffffff"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><polyline points="9 11 12 14 22 4"></polyline><path
            d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"
          ></path>
        </svg>
      </label>

      <input type="checkbox" id="touch2" />

      <ul class="slide no-underline -mt-6">
        <li><a href="newdeals.html">New Deals</a></li>
        <li><a href="deals.html">Running Deals</a></li>
      </ul>
      <!-- PARTNER SEARCH -->
      <a
        class="flex justify-end items-center px-4 py-2 text-white border-b-black border-b-[6px] dark:bg-gray-800 dark:text-gray-200"
        href="search.html"
      >
        <span class="mx-2 font-medium text-right w-full text-2xl"
          >Partner search</span
        >

        <svg class="w-8 h-8" viewBox="0 0 24 24" fill="none">
          <path
            d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </a>
      <!-- TRAININGS -->
      <a
        class="flex justify-end items-center px-4 py-2 text-white border-b-black border-b-[6px] dark:bg-gray-800 dark:text-gray-200"
        href="main.html"
      >
        <span class="mx-4 font-medium text-2xl">Trainings</span>

        <svg
          class="w-7 h-7 dark:text-white"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          ><path d="M12 14l9-5-9-5-9 5 9 5z"></path><path
            d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
          ></path><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
          ></path>
        </svg>
      </a>
      
      <!-- EVENTS -->
      <a
        class="flex justify-end items-center px-4 py-2 text-white border-b-black border-b-[6px] dark:bg-gray-800 dark:text-gray-200"
        href="main.html"
      >
        <span class="mx-4 font-medium text-2xl">Events</span>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#ffffff"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><line x1="12" y1="2" x2="12" y2="6"></line><line
            x1="12"
            y1="18"
            x2="12"
            y2="22"></line><line x1="4.93" y1="4.93" x2="7.76" y2="7.76"
          ></line><line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line><line
            x1="2"
            y1="12"
            x2="6"
            y2="12"></line><line x1="18" y1="12" x2="22" y2="12"></line><line
            x1="4.93"
            y1="19.07"
            x2="7.76"
            y2="16.24"></line><line x1="16.24" y1="7.76" x2="19.07" y2="4.93"
          ></line>
        </svg>
      </a>
      <!-- DOCUMENTS -->
      <a
        class="flex justify-end items-center px-4 py-2 text-white border-b-black border-b-[6px] dark:bg-gray-800 dark:text-gray-200"
        href="documents.html"
      >
        <span class="mx-4 font-medium text-2xl">Documents</span>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#ffffff"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path
            d="M13 2H6a2 2 0 0 0-2 2v16c0 1.1.9 2 2 2h12a2 2 0 0 0 2-2V9l-7-7z"
          ></path><path d="M13 3v6h6"></path>
        </svg>
      </a>
    </nav>
  </div>
  <!-- LOGO -->
  <div class="pb-8 w-full flex justify-center bg-[#066839]">
    <img
      src="https://res.cloudinary.com/dmcofgm8p/image/upload/v1668880706/gadgeon/energyville/logo_energyville_1_trnknd.jpg"
      alt="logo"
      class="h-[3rem]"
    />
  </div>
</div>
<style>
  /* STYLE ONLY FOR DROPDOWN */
  span {
    cursor: pointer;
    display: block;
  }

  .slide {
    color: white;
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: right;
    transition: height 0.4s ease;
  }

  li {
    padding: 20px;
  }

  #touch {
    position: absolute;
    opacity: 0;
    height: 0px;
  }

  #touch2 {
    position: absolute;
    opacity: 0;
    height: 0px;
  }

  #touch:checked + .slide {
    height: 230px;
  }

  #touch2:checked + .slide {
    height: 110px;
  }
</style>
